<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 mt-5 pt-5 ">
                <h1 class="mb-4 ms-5 ps-5">Calculator</h1>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'add'%}">Addition</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'sub'%}">Subtraction</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'mul'%}">multiplication</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'div'%}">divition</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'fact'%}">Factorial</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'prime'%}">Prime number</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'am'%}">amstsrong</a>
                <a class="btn btn-outline-success me-3 mb-3" href="{%url 'pal'%}">Palindrome</a>

            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>